/* Intro screen elements */
#intro-screen {
  height: 100vh;
  border: 1px solid black;
  background-image: url("images/Designer\(6\).jpeg");
}

#start-button-img {
  height: 170px;
  width: 450px;
  margin-top: 25%;
  margin-left: 5%;
}

#instructions-button {
  height: 95px;
  width: 225px;
  margin-top: 1%;
  margin-left: 13%;
}

#instructions-button-div {
  margin-left: 285px;
}

#instructions-img {
  display: none;
  margin-left: 30%;
  margin-top: -45%;
  width: 600px;
  height: 800px;
}

/* separation */
/* separation */
/* separation */

/* Game screen elements */
#game-screen {
  height: 100vh;
  border: 1px solid black;
  background-image: url("https://preview.redd.it/ancient-archway-in-a-meadow-v0-3vm8ot8l599a1.gif?format=png8&s=f1f02ee85c0ea6f81c0ef750349f00ca3ad63f69");
}

.cards {
  display: flex;
  flex-direction: row;
  width: 165px;
  height: 165px;
  padding: 20px;
  border: 1px solid black;
}

.enemy {
  width: 260px;
  height: 200px;
  padding-left: 34%;
}

#enemyHealthBar {
  border: 1px solid black;
  width: 50%;
  height: 4%;
  margin-left: 28%;
  border-radius: 5px;
}

#enemyCurrentHealth {
  width: 100%;
  height: 100%;
  background-color: rgb(195, 22, 22);
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.cards-img {
  border: 1px solid black;
}

#card-holder {
  background-color: grey;
  width: 620px;
  height: 215px;
  margin-left: 27%;
  margin-top: 16%;
}

h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6%;
  position: absolute;
}

/* Card screens */
/* Card screens */

#knight-screen {
  height: 100vh;
  border: 1px solid black;
  background-image: url("https://preview.redd.it/ancient-archway-in-a-meadow-v0-3vm8ot8l599a1.gif?format=png8&s=f1f02ee85c0ea6f81c0ef750349f00ca3ad63f69");
}

#knight-screen-img {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
}

#mage-screen {
  height: 100vh;
  border: 1px solid black;
  background-image: url("https://preview.redd.it/ancient-archway-in-a-meadow-v0-3vm8ot8l599a1.gif?format=png8&s=f1f02ee85c0ea6f81c0ef750349f00ca3ad63f69");
}

#mage-screen-img {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 13%;
}

#ogre-screen {
  height: 100vh;
  border: 1px solid black;
  background-image: url("https://preview.redd.it/ancient-archway-in-a-meadow-v0-3vm8ot8l599a1.gif?format=png8&s=f1f02ee85c0ea6f81c0ef750349f00ca3ad63f69");
}

#ogre-screen-img {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 12%;
}

.summon-text {
  text-align: center;
  background-color: aquamarine;
}

/* END GAME */

#end-game-screen {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
  background-image: url("https://preview.redd.it/ancient-archway-in-a-meadow-v0-3vm8ot8l599a1.gif?format=png8&s=f1f02ee85c0ea6f81c0ef750349f00ca3ad63f69");
}
